*{
    font-family: 'Lato';
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  }
 
  /* NAV BAR */
.topnav {
    overflow: hidden;
    background-color: #ad5389;
}
  
.topnav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 14px;
}
  
.topnav a:hover {
    text-decoration: underline;
    /*transition: all 0.3s ease-in-out;*/
}
  
.topnav .icon {
    display: none;
}


/* FILTER */
.filter button{
    border: none;
    display: flexbox;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    outline: none;
    overflow: hidden;
    color: black;
    font-weight: 100;
    font-size: 15px;
    padding: 10px 20px;
    margin: 0 auto;
    background: none;
}

.filter button:hover{
    background: #d8b9cb;
    color: white;
}

  /* BODY */

.section{
    width: 80%;
    margin: auto;
    padding: 10px;
    text-align: center;
}


/* PRODUCT ITEMS */

.product{
    display: inline-flex;
    flex-wrap: wrap;
    gap: 65px;
}

.item{
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border: 1px solid #ad5389;
}


/* NAV BAR MEDIA QUERIES */
/*@media (max-width: 952px){
    label.logo{
      padding-left: 50px;
    }
  }
  @media (max-width: 858px){
    .checkbtn{
      display: block;
    }
    ul{
      position: fixed;
      width: 30%;
      height: 100vh;
      background: white;
      top: 80px;
      left: -100%;
      text-align: center;
      transition: all .5s;
    }
    nav ul li{
      display: block;
      margin: 50px 0;
      line-height: 5px;
    }
    a:hover,a.active{
      background: none;
      color: #0082e6;
    }
    #check:checked ~ ul{
      left: 0;
    }
  }*/